* {
    margin: 0;
    padding: 0;
  }
  
.imagePresent{
    margin: auto;
    width: 30%;
    border: 3px solid rgb(60, 63, 23);
    border-radius: 8px;
}

.imagePresent img{
    margin: auto;
    width: 100%;
    border-radius: 8px;
    display: table-cell;
}

.zone-bienvenue{
    font-weight:bold;
    font-size: 40px;
    padding: 40px;
}