* {
    margin: 0;
    padding: 0;
  }
.header {
    text-align: left;
    background: #ffbd08;
    color: white;
    font-size: 30px;
  }

  /* Style du menu Hamburger */
  .hamburger {
    background: ffbd08;
    display: block;
    position: absolute;
    padding: 20px;
    right: 0;
    top: 0;
    color: white;
  }
  
  .hamburger:hover {
    background-color: #ddd;
    color: black;
  }
  

  .menuAfficher{
    display: table; 
    float: left; 
    clear: left; 
  }
  
  .menuCacher{
    display: none;
}
ul {
    position: absolute;
    right: 0;
    list-style-type: none;
    width: 200px;
    background-color: #f1f1f1;
    margin-right: 10;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #555;
    color: white;
  }